body {
    background-image: url(img/Pink-Floyd-the-Wall-Flag.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.text-content-center {
    text-align: center;
}
.show {
    display: block !important;
}
small {
    margin-bottom: 12px !important;
}
button {
    margin-bottom: 10px !important;
}
.input-margin {
    margin-bottom: 10px !important;
}
